* {
	box-sizing: border-box;

}



h1 {
	color: blue;


}
#nav ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 15%;
	background-color: #f1f1f1;
}
#nav li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}
#nav li a:hover {
	background-color: #555;
	color: white;
}
#main{
	float: right;
	width: 85%;
	margin-left: 25px;
}

/*edia only screen and(max-width: 600px)
	#main {
		float: none;
	}
	*/


